/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body{
    margin: 0;
    max-width: 50cm;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.3;
    padding: 0;
    background-color: #f9f6f1;
    color:#2e2a24;
}

.menu {
    margin: 0;
    padding: 0 10%;
    list-style: none;
    text-align: right;
    background-color: #efc9be;
}

.menu li {
    display: inline-block;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    color: #3F3931;
    padding: 10px;
    margin: 10px 5px;
}

.menu a:hover {
    background-color: #3F3931;
    color: white;
    border-radius: 5px;
}

h1,
h2,
h3 {
    font-family: "Madimi One", Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    color:#3f3931;
    line-height: 1.3;
}

/* add text shadow */
h1 {
    margin: 0;
    display: inline-block;
    padding: 200px 5% 0 15%;
    font-size: 60px;
    color: #3F3931;    
} 

h2 {
    font-size:30px;
}

h3 {
   font-size: 20px;    
}

.hlava {
    width: 400px;
    vertical-align: bottom;
    float: right;
    margin-right: 10%;
    margin-top: 20px;
}

.header {
    background-color: #efc9be;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.fotoklara {
    border-radius: 50px;
    width: 300px;
    float: left;
    margin-right: 30px;
    border:#efc9be solid 1px;
}

.omne {
    padding: 50px 15%;
    background-color: #2e324d;
    overflow: auto;
    vertical-align: middle;
    color: #f9f6f1;
}

.omne h2,
.omne h3 {
    color: #ffe0de;
}

.omne a {
    text-decoration: wavy;
    color: #efc9be;
}
.icon {
    width: 30px;
    margin-right: 15px;
    vertical-align: bottom;
}
.setkani {
    background-color: #badbee;
    padding: 20px 15%;
    overflow: auto;
}

.setkani img {
    float: right;
    width: 150px;
    border-radius: 300px;
    margin-left: 10px;
    border:#f9f6f1 solid 2px;
}

.domov {
    background-color: #8ca0e5;
    padding: 20px 15%;
    
}

.domov li {
    list-style: circle;
    color:#2e2a24;
}
.fotogalerie {
    padding: 20px 15%;
}

.fotogalerie img {
    width: 24.5%;
    margin: 0;
    padding: 10px;
    border-radius: 15px;
}

.ospaly,
.schovany,
.silly {
    padding: 20px;
    border-radius: 10px;
    margin: 30px 0;
}

.ospaly {
    background-color: #efc9be;
}

.schovany {
    background-color: #8ca0e5;
}

.silly {
    background-color: #2e324d;
}

.cas {
    background-color: #ffe0de;
    padding: 20px 15%;
}

.cas img {
    width: 200px;
    border-radius: 10px;
    border:#f9f6f1 1px solid;
}

table {
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}

th,
td {
    border-bottom: #3f3931 3px dashed;
    padding: 20px 10px 20px 50px;
    font-weight: bold;
    color: #3f3931;
}

.nodash {
    border-bottom: none;
}

.nopadding {
   padding-left: 10px;
}

.paticka {
    background-color: #2e324d;
    padding: 5px 15%;
    text-align: center;
    color:#efc9be;
    font-size: 15px;
}
